{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <a href="../index.html"><img src="../Brand_Geeks-page-0-removebg.png" alt=""></a>
        <div class="headp">
            <p> My Cart</p>
        </div>
    </div>
    <div class="container">
        <div class="cart">
            <div class="products">
                <div class="product">
                    <img src="../Cargo/3.jpg" width="200">
                    <div class="products-info">
                        <h5 class="product-name" style="padding-top: 10px;"> Green Cargo </h4>
                            <h5 class="product-price"> EGP 499</h3>
                                <h4 class="offer"> 50% off!</h3>
                                    <p class="product-quantity"> Qnt: <input value="1" type="number" name="">
                                    <p class="remove-product">
                                        <i class="fa fa-trash"></i>
                                        <span class="remove">Remove</span>
                                    </p>
                                    </p>

                    </div>
                </div>
                <div class="product">
                    <img src="../hoodies/2.jpeg" width="200">
                    <div class="products-info">
                        <h5 class="product-name" style="padding-top: 10px;"> Grey Hoodie </h4>
                            <h5 class="product-price"> EGP 799</h3>
                                <h4 class="offer"> 25% off!</h3>
                                    <p class="product-quantity"> Qnt: <input value="1" type="number" name="">
                                    <p class="remove-product">
                                        <i class="fa fa-trash"></i>
                                        <span class="remove">Remove</span>
                                    </p>
                                    </p>
                    </div>
                </div>
                <div class="cart-total">
                    <p>
                        <span>Total Price</span>
                        <span>1298</span>
                    </p>
                    <p>
                        <span>Number of Items in Cart</span>
                        <span>2</span>
                    </p>
                    <p>
                        <span>Discout:</span>
                        <span>349.25</span>
                    </p>
                    <a href="../chechkout/chechkout.html">Proceed to Checkout</a>
                </div>
            </div>
        </div>
        <script src="cart.js"></script>
</body>

</html>

{% endblock content %}